body {
    background-image: url('/image/herbs-garlic-aligned-triangle-shape.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
